<div class="container">
  <h2 >Checkout</h2>

  <div>
    <div>
      <div>
        <form
          [formGroup]="cartForm"
          (ngSubmit)="cartSubmit()"
          class="card-body"
        >
         
          <div >
           
            <div >
             
              <mat-form-field appearance="outline">
                <mat-label>Costumer Name</mat-label>
                <input
                  matInput
                  formControlName="costumerName"
                  id="costumerName"
                  type="text"
                />
              </mat-form-field>
            
            </div>
         
          </div>
         

          
          <div>
            <div>
           
              <mat-form-field appearance="outline">
                <mat-label>Street</mat-label>
                <input
                  matInput
                  formControlName="street"
                  id="street"
                  type="text"
                />
               
              </mat-form-field>
           
            </div>
          </div>
   

     
          <div >
    
            <div >
              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input
                  matInput
                  formControlName="city"
                  id="city"
                  type="text"
                  placeholder="city"
                />
              </mat-form-field>
            </div>
          </div>

          <div>
            <div>
              
              <mat-form-field>
                  <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
          </div>
      
          <hr />
          <div >
            <div >
              <mat-form-field appearance="outline" >
                <mat-label>Name on Card</mat-label>
                <input
                  matInput
                  formControlName="cardName"
                  id="cardName"
                  type="text"
                />
              
              </mat-form-field>
            </div>
            <div >
              <mat-form-field appearance="outline">
                <mat-label>Credit Card</mat-label>
                <input
                  matInput
                  formControlName="creditCard"
                  id="creditCard"
                  type="number"
                />
           
              </mat-form-field>
            </div>
          </div>
          <div >
            <div>
              <mat-form-field appearance="outline" >
                <mat-label>Expiration</mat-label>
                <input
                  matInput
                  formControlName="expiration"
                  id="expiration"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>CVV</mat-label>
                <input matInput formControlName="cvv" id="cvv" type="number" />
             
              </mat-form-field>
            </div>
          </div>
          <hr />
          <button mat-button  type="submit">
            Submit
          </button>
        </form>
      </div>
   
    </div>
   
  </div>

</div>
